<div class="periods">
    <div class="period" ng-repeat="period in periods track by $index">
        <div class="name">{{ period.label }}</div>
        <div class="events" ng-if="$index == 0">
            <div class="event" ng-repeat="event in allEvents" ng-style="event.style" title="{{ event.title }}">
                {{ event.title }}
            </div>
        </div>
    </div>
</div>
